html {
    box-sizing: border-box;
    font-size: 60px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Product Sans', sans-serif;
    font-size: 20px;
    line-height: 2;
    min-height: 100vh;
}
/* Globales */
.contenedor {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 20px;
}
img {
    max-width: 100%;
}

li {
    list-style: none;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.centrar-texto {
    text-align: center;
}

#caja-op{
    height: 600px;
    width: 20%;
    position: absolute;
    margin: 5% auto;
    background: rgba(0, 0, 0, 0.698);
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    float: left;
    color:cornsilk;
    font-family: 'Product Sans', sans-serif;
    font-size: 10px;
}
#caja-datos{
    height: 700px;
    width: 1400px;
    margin: 5% auto;
    background: rgba(0, 0, 0, 0.698);
    padding: 10px;
    float:right;
    overflow: hidden;
    border-radius: 20px;
    color:cornsilk;
    font-family: 'Product Sans', sans-serif;
    font-size: 10px;
}
.header {
    background-color: #ffc400;
    height: 180px;
}
.barra {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo {
    color: white;
}
.navegacion {
    display: flex;
    gap: 40px;
}
.navegacion__enlace {
    color: white;
    transition: linear .2s all;
}

.icono {
    font-size: 40px;
    display: flex;
    align-items: center;
}

.navegacion__enlace:hover {
    color: black;
    transition: linear .2s all;
}
.navegacion li ul {
    display: none;
}

.navegacion li:hover ul {
    position: absolute;
    display: block;
}
.footer {
    background-color: rgb(133, 133, 133);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    line-height: 6px;
    text-align: left;
    color: white;
    align-self: flex-end;
}
.titulo {
    margin: 0;
}
.footer__contacto {
    grid-column: 2;
    margin: auto;
}
.footer__redes {
    grid-column: 3;
    margin: auto;
    display: flex;
    gap: 20px;
}
.footer__info {
    grid-column: 1;
    margin: auto;
}
.redes {
    color: white;
    font-size: 20px;
} 
.container{
    min-height: calc(100vh);
}
.boton{
    margin: 15px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #ffc400;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-bottom: 45px;
    margin-top: 20px;
    transition: linear .2s all;
}
.boton:hover {
    background: #a88102;
    color: white;
    transition: linear .2s all;
}
.submit-btn {
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #ffc400;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-bottom: 45px;
    margin-top: 20px;
    transition: linear .2s all;
}
.submit-btn:hover {
    background: #a88102;
    color: white;
    transition: linear .2s all;
}