html {
    box-sizing: border-box;
    font-size: 60px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Product Sans', sans-serif;
    font-size: 20px;
    line-height: 2;
}

/* Globales */
.contenedor {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}

.centrar-texto {
    text-align: center;
}

/* Header */
.header {
    background-color: #ffc400;
    height: 180px;
}

.barra {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    color: white;
}

.navegacion {
    display: flex;
    gap: 40px;
    width: 285.717px;
    height: 40px;
}

.navegacion__enlace {
    color: white;
    transition: linear .2s all;
}

.navegacion__enlace:hover {
    font-size: 22px;
    color: black;
    transition: linear .2s all;
}

.icono {
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    transition: linear .2s all;
}

.icono:hover {
    color: black;
    cursor: pointer;
    font-size: 42px;
    transition: linear .2s all;
}

.submenu {
    display: none;
    margin-top: 15%;
    margin-left: -80%;
}

#user:checked ~ .submenu {
    display: block;
}

.opc-user {
    position: relative;
    display: flex;
    text-align: center;
    padding: 20px;
    background: rgb(133, 133, 133);
    color: white;
    transition: linear .2s all;
}

.opc-user:hover {
    background: black;
    transition: linear .2s all;
}

#user {
    display: none;
}

/* Boton carrito */


.btn-carrito {
    background: #ffc400;
    color: black;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
    transition: all .1s ease;
    padding: 17px;
}

.icono-carrito {
    color: black;
}

.btn-carrito:hover {
    background: #d1a101;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
}

.container {
    position: fixed;
    right: 10%;
    margin-top: 10%;
}

/* Slider */
  
.container-slider {
    margin: auto;
    background-color: white;
    width: 800px;
    height: 480px;
    padding: 30px;
}
  
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
ul.slider{
    position: relative;
    width: 100%;
    height: 400px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}
  
ul.slider li img{
    width: 740px;
    height: 400px;
    object-fit: cover;
}
  
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
  
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
  
.menu{
    text-align: center;
    margin: 20px;
}
  
.menu li{
    display: inline-block;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}


/* Footer */
.footer {
    background-color: rgb(133, 133, 133);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    line-height: 6px;
    text-align: left;
    color: white;
}

.titulo {
    margin: 0;
}

.footer__contacto {
    grid-column: 2;
    margin: auto;
}

.footer__redes {
    grid-column: 3;
    margin: auto;
    display: flex;
    gap: 20px;
}

.footer__info {
    grid-column: 1;
    margin: auto;
}

.redes {
    color: white;
    font-size: 20px;
}